body {

background-color: rgb(124, 124, 124);

}

h1 {

color: rgb(35, 39, 88);
background-color: rgb(165, 199, 202);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#show_sketch {

float: right;

}

canvas {

border-radius: 20px;
animation-name: example;
animation-duration: 1s;
margin-top: 100px;
animation-iteration-count: infinite;

}

@keyframes example {

from{box-shadow: 1px 1px 38px rgb(255, 255, 255);}
to{box-shadow: 1px 1px 38px rgb(178, 166, 248);}

}

p {

padding-top: 10px;
font-size: 20px;

}

#time {

font-size: 30px;
float: left;
font-family: sans-serif;
margin-left: 50px;

}

#score {

    font-size: 30px;
    float: right;
    font-family: sans-serif;
    margin-right: 50px;
    
    }
